<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
  </ol>
  <div class="carousel-inner bg-dark">
    <div class="carousel-item active">
      <h5 class="text-center text-light">Capitulo 1</h5>
      <a routerLink='/cap1'><img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048236066504734/Javali_2.jpg" width="400px"
          height="400px" alt="Primeiro Slide"> </a>


    </div>
    <div class="carousel-item">
      <h5 class="text-center text-light">Capitulo 2</h5>
      <a routerLink='/cap2'>
        <img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048175878246421/Ancia.jpg" width="400px"
          height="400px" alt="Segundo Slide"></a>


    </div>
    <div class="carousel-item">
      <h5 class="text-center text-light">Capitulo 3</h5>
      <a routerLink='/cap3'>
        <img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048300553945108/Noite_de_partida.jpg"
          width="400px" height="400px" alt="Terceiro Slide"> </a>


    </div>
    <div class="carousel-item">
      <h5 class="text-center text-light">Capitulo 4</h5>
      <a routerLink='/cap4'>
        <img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048295516590090/Light_Devourer.jpg"
          width="400px" height="400px" alt="Terceiro Slide"></a>
    </div>

    <div class="carousel-item">
      <h5 class="text-center text-light">Capitulo 5</h5>
      <a routerLink='/cap5'>
        <img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048291947216896/Sea_monsters.jpg"
          width="400px" height="400px" alt="Terceiro Slide">
      </a>
    </div>
    <div class="carousel-item text-light">
      <h5 class="text-center">Capitulo 6</h5>
      <a routerLink='/cap6'>
        <img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048349056876584/Soldado_de_Nortian_Cap_6_-_2.jpg"
          width="400px" height="400px" alt="Terceiro Slide">
      </a>
    </div>
    <div class="carousel-item">
      <h5 class="text-center text-light">Capitulo 7</h5>
      <a routerLink='/cap7'>
        <img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048300553945108/Noite_de_partida.jpg"
          width="400px" height="400px" alt="Terceiro Slide">
      </a>
    </div>
    <div class="carousel-item">
      <h5 class="text-center text-light">Capitulo 8</h5>
      <a routerLink='/cap8'>
        <img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048171344220230/Algibeira.jpg" width="400px"
          height="400px" alt="Terceiro Slide">
      </a>

    </div>
    <div class="carousel-item">
      <h5 class="text-center text-light">Capitulo 9</h5>
      <a routerLink='/cap9'>
        <img class="d-block w-25 ml-auto mr-auto"
          src="https://cdn.discordapp.com/attachments/892048100582109274/892048177321107456/Babagaya_2.jpg"
          width="400px" height="400px" alt="Terceiro Slide">
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>