<div style= " background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,3,36,1) 0%, rgba(17,119,142,1) 0%, rgba(30,30,33,1) 15%, rgba(9,9,36,1) 25%, rgba(6,93,111,1) 33%, rgba(7,6,36,1) 59%, rgba(15,117,140,1) 67%, rgba(6,5,36,1) 83%, rgba(20,20,34,0.8449754901960784) 100%, rgba(9,118,140,1) 100%);">
<div class="container">
    <h1 class="Text-Shadow"> Angel of Darkness </h1>
</div>

<div class="container">
    <p class="h2 Text-Shadow">Espolios da primeira caçada</p>
</div>

<div>
    <div class="container">
        <div class="container-start"></div>
        <img class="br-50 wh-300 p30" src="assets/img/Anciã.jpg" alt="RestInPeace" width="450" height="300"><br>
    </div>
</div>
<hr>


<div class="container-end">
    <iframe align="right" width="450" height="300" src="https://www.youtube.com/embed/3vf1OvyoO1U?autoplay=1&mute=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe> <br>
</div>

<div class="container">
    <p class="p1">
        Mesmo indo contra a opinião da maioria, o rei ainda sim seguia com sua ambição de expandir seu Império, levando
        com ele a guarda imperial, 60% de seu exército e 80% das embarcações. Isso resultou em um grande
        descontentamento por parte da nobreza, que eram a maioria daqueles que eram contra à iniciativa.
    </p>
</div>

<div class="container">
    <img src="assets/img/Embarcações.jpg" alt="450px">
</div>


<div>
    <p class="p1 justify">
        Levando tamanho poder militar, Nortian seria incapacitada, e com isso não poderiam continuar avançando suas
        tropas e invadindo outros reinos, com a ausência de tantas embarcações
        o comércio seria lesado, se tornando obrigatória a contratação  e implantação de locomoção terrestre, onde era
        mais suscetível à perdas, roubos, maiores prazos de viagem,
        tornando-as ainda mais caras. Mas ainda sim o rei dias após comunicar publicamente suas intenções, através da
        sua lábia e grande astúcia, obteve o esperançoso apoio de seu povo,
        que mesmo preocupados e ansiosos, agora rezavam por sua segurança e sucesso. O comunicado foi emitido em uma
        data comemorativa de um antigo costume do Norte em sediar um evento,
        onde se era travado um duelo entre os campeões de todos os reinos, um evento feito à cada século, porém
        relembrado e comemorado anualmente com o vencedor. 
    </p>
</div>
<br>
<div class="container">
    <img src="assets/img/Coliseu.jpg" alt="450px">
</div>

<div class="p1 justify">
    <p>
        O rei como despedida rumo a sua expedição abriu os portões do seu castelo e ofereceu um grande banquete aos
        cidadãos, próximo ao fim da comemoração,  o rei avista um conhecido
        de longa data enquanto degustava alguns de seus variados quitutes. Tratava de uma sábio anciã na qual até mesmo
        o antigo rei consultava em busca de seus valorosos conselhos.
        O rei então questionou abertamente para que todos pudessem ouvir sobre a opinião da anciã quanto a decisão de
        tentar cruzar a Tormenta, a anciã então se aproximou indo em direção
        ao rei...
    </p>

    <div class="container">
        <img src="assets/img/Anciã.jpg" alt="450px">
    </div>

    <div>
        <p class="p1 justify">
            Ela subiu alguns lances de escada e por fim prostrou-se em meio ao salão, tomando para si a atenção e o
            silêncio de todos à sua volta. Quando então recitou aquilo que
            posteriormente se tornaria uma profecia:
            "Ainda que tente, não será capaz de retroceder. Quando então alcançar aquilo que deseja, sentirá a falta
            daquilo que lhe guiava. E quando sua sanidade enfim se esvair, a tormenta
            tomará posse daquilo que é sua por direito, e nos guiará ao fim dos tempos."
            O rei naquele momento ficou perplexo, e apesar de não crer em palavras proféticas, aquilo de alguma forma
            realmente lhe tocou, revelando uma feição claramente preocupada. Antes
            que o rei pudesse questionar sobre o significado de suas palavras, o ancião que estava prostrado no chão
            começou a se debater, espuma branca escorria de sua boca, então todos no
            salão se assustaram imediatamente. Momentos após o acontecimento, notificaram que o ancião se encontrava
            morto, e foi então que a festa teve seu fim.
        </p>
    </div>

    <div>
        <p class="p1 justify">
            -Mas afinal, qual era o nome do rei?
            -Bom filho, se já está consciente para fazer questões do tipo, seu ferimento não foi tão grave quanto me
            parecia. Volte a descansar, faz apenas um dia desde que isso te aconteceu, lembre-se que o curandeiro ainda
            está aqui de bom grado e te fará outra visita ao amanhecer. Boa noite!
            Robert sem muito esforço conseguiu voltar a descansar, apesar de tudo a dor de seus ferimentos ainda eram
            constantes, e seriam agonizantes caso um dos renomados curandeiro da realeza não tivesse intervindo com
            tantos medicamentos para amenizar sua dor, e ser capaz de tratar suas feridas e escoriações.
            Beth, sua mãe lhe contou sobre o ocorrido quando Robert retomou sua consciência, explicou que ele foi
            socorrido as pressas pelo curandeiro ainda no local, e que aquele animal selvagem (Javali) estava sendo
            caçado pelo Príncipe à fim de obter experiência, sendo acompanhado de caçadores treinados, e sua guarda
            pessoal. Beth revelou também que o Príncipe havia se sentido extremamente culpado ao encontrar uma criança
            de sua mesma idade ferida no local, e ordenou que seu curandeiro oferecesse seus serviços até que finalmente
            ficasse fora de risco.
            No dia seguinte Robert foi capaz de acordar em seu horário matinal como habitualmente fazia, e logo após
            acordar em sua cama foi capaz de ouvir uma conversa da sua mãe, que aparentemente falava com um homem que o
            visitava, Robert logo associou ao curandeiro que viria naquele horário. 
            "Bem, seu filho já não corre mais risco de vida, no dia do ocorrido eu fiz consegui rapidamente suprimir sua
            hemorragia em um curto intervalo de tempo, e por isso ele não perdeu uma grande quantidade de sangue. Em
            alguns dias ele será capaz de retomar normalmente sua vida."
            -"Fico extremamente aliviada em ouvir isso Senhor, e agradeço pela ajuda prestada ao meu filho, foi muito
            gentil da parte Príncipe disponibilizar um dos seus homens para continuar acompanhando a recuperação de
            Robert."
            -"De forma alguma senhorita, o Príncipe de fato ficou pálido ao ver seu filho ensanguentado daquela maneira,
            estirado ao chão e tomou toda a culpa para si, essa foi a melhor forma que ele pôde compensar pelo incidente
            provocado por nós, e é um pequeno preço a se pagar se comparado à perca de um filho querido.
            De qualquer forma irei averiguar a situação de Robert, já está na hora de reforçar a dose de sua medicação."
            -"Obrigada, irei preparar um chá para vocês."
            Quando finalmente o curandeiro chegou ate Robert, ele o encontrou dormindo onde ele "supostamente" havia
            acabado de acordar quando a iluminação proveniente do dia, adentrou seu quarto ao abrir a porta.
        </p>
    </div>

    <div>
        <p class="p1 justify">
            -Mas afinal, qual era o nome do rei? <br>
            -Bom filho, se já está consciente para fazer questões do tipo, seu ferimento não foi tão grave quanto me
            parecia. Volte a descansar, faz apenas um dia desde que isso te aconteceu, lembre-se que o curandeiro ainda
            está aqui de bom grado e te fará outra visita ao amanhecer. Boa noite! <br>
            Robert sem muito esforço conseguiu voltar a descansar, apesar de tudo a dor de seus ferimentos ainda eram
            constantes, e seriam agonizantes caso um dos renomados curandeiro da realeza não tivesse intervindo com
            tantos medicamentos para amenizar sua dor, e ser capaz de tratar suas feridas e escoriações.
            Beth, sua mãe lhe contou sobre o ocorrido quando Robert retomou sua consciência, explicou que ele foi
            socorrido as pressas pelo curandeiro ainda no local, e que aquele animal selvagem (Javali) estava sendo
            caçado pelo Príncipe à fim de obter experiência, sendo acompanhado de caçadores treinados, e sua guarda
            pessoal. Beth revelou também que o Príncipe havia se sentido extremamente culpado ao encontrar uma criança
            de sua mesma idade ferida no local, e ordenou que seu curandeiro oferecesse seus serviços até que finalmente
            ficasse fora de risco.
            No dia seguinte Robert foi capaz de acordar em seu horário matinal como habitualmente fazia, e logo após
            acordar em sua cama foi capaz de ouvir uma conversa da sua mãe, que aparentemente falava com um homem que o
            visitava, Robert logo associou ao curandeiro que viria naquele horário. 
            "Bem, seu filho já não corre mais risco de vida, no dia do ocorrido eu fiz consegui rapidamente suprimir sua
            hemorragia em um curto intervalo de tempo, e por isso ele não perdeu uma grande quantidade de sangue. Em
            alguns dias ele será capaz de retomar normalmente sua vida."
            -"Fico extremamente aliviada em ouvir isso Senhor, e agradeço pela ajuda prestada ao meu filho, foi muito
            gentil da parte Príncipe disponibilizar um dos seus homens para continuar acompanhando a recuperação de
            Robert." <br>
            -"De forma alguma senhorita, o Príncipe de fato ficou pálido ao ver seu filho ensanguentado daquela maneira,
            estirado ao chão e tomou toda a culpa para si, essa foi a melhor forma que ele pôde compensar pelo incidente
            provocado por nós, e é um pequeno preço a se pagar se comparado à perca de um filho querido. <br>
            De qualquer forma irei averiguar a situação de Robert, já está na hora de reforçar a dose de sua medicação."
            -"Obrigada, irei preparar um chá para vocês." <br>
            Quando finalmente o curandeiro chegou ate Robert, ele o encontrou dormindo onde ele "supostamente" havia
            acabado de acordar quando a iluminação proveniente do dia, adentrou seu quarto ao abrir a porta.
        </p>
    </div>

    <div class="container">
        <img src="assets/img/Curandeiro Marcus.jpg" alt="450px">
    </div>

    <div>
        <p class="p1 justify">
            O curandeiro então se apresentou à Robert como Marcos, logo após o explicou novamente a situação e tudo que
            havia se passado, o explicou sobre o tratamento que estava sendo 
            aplicado e que iria partir nesta mesma noite, deixando-o encarregado de ingerir de periodicamente o
            medicamento diluído que produziu especialmente para o seu caso, Robert
            então se indagou e questionou Marcos do porque o Príncipe estaria por aquelas regiões tão distantes do
            castelo para caçar, já que não havia necessidade alguma para família
            real precisar caçar seu próprio alimento. Marcos então não se conteve em suas risadas, e de fato Robert
            tinha total razão em questionar tal ato, já que realmente não era algo
            realmente necessário. Porém o curandeiro contou à ele que também era pai de um garoto da mesma idade de
            ambos, ele se chamava Martines, e que a sua curiosidade assim como à
            dos dois eram enormes, e que no final das contas, apenas ouvir histórias e conselhos, seguindo a lógica e
            fatos, nunca  são o suficiente para satisfazer nenhum dos três. E após
            acompanhar a família com o chá, se despediu e foi embora na mesma noite, retomando seu dever à coroa e
            presenteando Robert com a reflexão, nós humanos nunca estamos satisfeitos
            com o que nos ensinam através de histórias, muita das vezes só aprendemos uma lição depois de passar pela
            própria situação em si.
        </p>

    </div>

    <div class="container">
        <img class="pd-50" src="assets/img/tenor2.gif" alt="Fujiwara-san." height="225">
    </div>
    </div>
    <app-barra-de-navegacao></app-barra-de-navegacao>