

<!--Carrosel slide 1-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner bg-dark">
        <div class="carousel-item active">
            <div class="row justify-content-center mb-5">
                <div class="col-md-2 align-items-center ">
                    <div class="card bg-secondary" style="width: 18rem;">
                        <div class="card bg-secondary" style="width: 18rem;">
                            <div class="card-body ">
                                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892048236066504734/Javali_2.jpg"
                                    alt="Capitulo 1" height="250px" width="250px" class="borda">
                                <h5 class="card-title text-center text-white">Capitulo 1</h5>
                                <p class="card-text text-center text-white-50 ">Contos do norte
                                </p>
                                <a class="btn btn-primary center" routerLink='/cap1'>Ler agora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 align-items-center ">
                    <div class="card bg-secondary" style="width: 18rem;">
                        <div class="card bg-secondary" style="width: 18rem;">
                            <div class="card-body">
                                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892048175878246421/Ancia.jpg"
                                    alt="Capitulo 2" height="250px" width="250px" class="borda ">
                                <h5 class="card-title text-center text-white">Capitulo 2</h5>
                                <p class="card-text text-center text-white-50">Os espolios da primeira caçada
                                </p>
                                <a class="btn btn-primary center" routerLink='/cap2'>Ler agora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card bg-secondary" style="width: 18rem;">
                        <div class="card bg-secondary" style="width: 18rem;">
                            <div class="card-body ">
                                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892048300553945108/Noite_de_partida.jpg"
                                    alt="Capitulo 3" height="250px" width="250px" class="borda ">
                                <h5 class="card-title text-center text-white">Capitulo 3</h5>
                                <p class="card-text text-center text-white-50">O inicio da revolta
                                </p>
                                <a class="btn btn-primary center" routerLink='/cap3'>Ler agora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-secondary" style="width: 18rem;">
                        <div class="card bg-secondary" style="width: 18rem;">
                            <div class="card-body">
                                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892048295516590090/Light_Devourer.jpg"
                                    alt="Capitulo 4" height="250px" width="250px" class="borda">
                                <h5 class="card-title text-center text-white">Capitulo 4</h5>
                                <p class="card-text text-center text-white-50">Os trolls do Leste
                                </p>
                                <a class="btn btn-primary center" a routerLink='/cap4'>Ler agora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--Carrosel slide 2-->
        <div class="carousel-item">
            <div class="row justify-content-center mb-5">
                <div class="col-md-2 align-items-center ">
                    <div class="card bg-secondary" style="width: 18rem;">
                        <div class="card bg-secondary" style="width: 18rem;">
                            <div class="card-body ">
                                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892048291947216896/Sea_monsters.jpg" alt="Capitulo 5" height="250px" width="250px" class="borda">
                                <h5 class="card-title text-center text-white">Capitulo 5</h5>
                                <p class="card-text text-center text-white-50 ">A caçada continua
                                </p>
                                <a class="btn btn-primary center" routerLink='/cap1'>Ler agora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 align-items-center ">
                    <div class="card bg-secondary" style="width: 18rem;">
                        <div class="card bg-secondary" style="width: 18rem;">
                            <div class="card-body">
                                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892048349056876584/Soldado_de_Nortian_Cap_6_-_2.jpg" alt="Capitulo 6" height="250px" width="250px" class="borda ">
                                <h5 class="card-title text-center text-white">Capitulo 6</h5>
                                <p class="card-text text-center text-white-50">Festa na capital
                                </p>
                                <a class="btn btn-primary center" routerLink='/cap2'>Ler agora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card bg-secondary" style="width: 18rem;">
                        <div class="card bg-secondary" style="width: 18rem;">
                            <div class="card-body ">
                                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892048171344220230/Algibeira.jpg" alt="Capitulo 7" height="250px" width="250px" class="borda ">
                                <h5 class="card-title text-center text-white">Capitulo 7</h5>
                                <p class="card-text text-center text-white-50">Sincera gratidão
                                </p>
                                <a class="btn btn-primary center" routerLink='/cap3'>Ler agora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-secondary" style="width: 18rem;">
                        <div class="card bg-secondary" style="width: 18rem;">
                            <div class="card-body">
                                <img src="https://cdn.discordapp.com/attachments/892048100582109274/892048177321107456/Babagaya_2.jpg" alt="Capitulo 8" height="250px" width="250px" class="borda">
                                <h5 class="card-title text-center text-white">Capitulo 8</h5>
                                <p class="card-text text-center text-white-50">Sem tempo para descansar
                                </p>
                                <a class="btn btn-primary center" a routerLink='/cap4'>Ler agora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>