#img-bg{
    background-image: url('https://cdn.discordapp.com/attachments/887792356223508541/887792429456031754/download_2.jpg');
    height: 880px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}