<link rel="stylesheet" href="rodape.component.css">
<footer class="page-footer font-small bg-secondary pt-4">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-light">
                Siga-nos nas redes sociais
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="www.facebook.com" target="_blank" class="icoFacebook fa">
                    <img src="https://cdn.discordapp.com/attachments/887792356223508541/891023534598529024/facebook.png" height="50px"
                    width="50px" alt="">
                    </a>
                </li>

                <li>
                    <a href="www.instagram.com" target="_blank" class="icoInstagram fa">
                    <img src="https://cdn.discordapp.com/attachments/887792356223508541/891023514298122311/instagram.png" height="50px"
                    width="50px" alt="">
                    </a>
                </li>

                <li>
                    <a href="www.linkedin.com" target="_blank" class="icoLinkedIn fa">
                    <img src="https://cdn.discordapp.com/attachments/887792356223508541/891023559038750781/linkedin.png" height="50px"
                    width="50px" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright bg-dark text-center py-3">
   <span class="text-light"> &copy; 2021 Copyright:
   </span>
   <a href="https://brasil.generation.org" class="text-light" target="_blank"> brasil.generation.org</a>
</div>

</footer>
