<app-menu></app-menu>
<div style= " background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,3,36,1) 0%, rgba(17,119,142,1) 0%, rgba(30,30,33,1) 15%, rgba(9,9,36,1) 25%, rgba(6,93,111,1) 33%, rgba(7,6,36,1) 59%, rgba(15,117,140,1) 67%, rgba(6,5,36,1) 83%, rgba(20,20,34,0.8449754901960784) 100%, rgba(9,118,140,1) 100%);       }
">
    <div class="container">
        <p class="h2 Text-Shadow mt-3">Contos do norte</p>
    </div>

    <div>
        <div class="container">
            <div class="container-start"></div>
            <img class="br-50 wh-300 p30"
                src="https://cdn.discordapp.com/attachments/892048100582109274/892048236066504734/Javali_2.jpg"
                alt="RestInPeace" width="450" height="300"><br>
        </div>
    </div>

    <div class="container-end">
        <iframe align="right" width="450" height="300" src="https://www.youtube.com/embed/3vf1OvyoO1U?autoplay=1&mute=1"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe> <br>
    </div>

    <div class="container">
        <p class="p1">
            Já quando o reino prosperava e ousava cruzar as fronteiras da tormenta, onde as criaturas mais
            horripilantes
            travavam sangrentas batalhas em suas caçadas, o nobre rei era reverenciado como um ídolo e causa pelo
            século
            de
            ouro que sua nação vivenciava. Os guerreiros do Norte nunca haviam alcançado tamanha glória, a ganância
            do
            rei
            somada ao seu enorme desejo de expandir seu território e deixar seu legado, resultou na sua decisão de
            enfrentar
            o mar da tormenta e colonizar terras além de SkyFront. A maior parte de seus conselheiros e a nobreza
            eram
            contra a expedição, pois como sabemos nunca antes nação alguma foi capaz de atravessar o tempestuoso
            mar,
            que
            até nos dias mais limpos, ao adentrar nas correntezas, enormes ondas confrontavam as embarcações. Quando
            já
            não
            se era possível avistar o caís, após a primeira noite em alto mar, apenas as ondas permaneciam com seu
            insaciável desejo de arrastar seus navios profundezas a dentro. Mas a partir da segunda noite os
            predadores
            mais
            vorazes já tomavam ciência de sua nova presa... Criaturas poderosas o suficiente para estilhaçar os
            cascos
            dos
            mais resistentes navios apenas com suas violentas investidas e armadas com suas escamas extremamente
            densas
            e
            ásperas. As cicatrizes de batalha entre essas criaturas são sempre visíveis, e aquelas com maior
            quantidade
            claramente são as mais brutais... A essa altura os tripulantes já aceitam seus destinos, incapazes de
            retornarem
            pelo caminho que vieram devido a correnteza extremamente poderosa da tormenta, eles apenas são capazes
            de
            observarem através da obscura agua do mar que se fazem intransponíveis, onde mesmo a luz da lua cheia
            mais
            brilhante, brandões ou lamparinas são engolidas de forma voraz, mas essa precária iluminação ainda traz
            o
            reflexo dos olhos das criaturas mais abomináveis, que sempre fazem questão de encararem de volta. 
             <br>
            -E por hoje é tudo filho, já passou da sua hora de dormir.<br>
            -O que? Como assim mãe? Logo nessa parte?! Mas espera, o rei no final das contas decidiu
            tentar atravessar o
            mar
            ou não???<br>
            -Isso fica pra outra noite Robert, faça questão de não ter pesadelos essa noite, caso contrário você
            nunca
            saberá o final da história...
        </p>
    </div>

    <div>
        <p class="p1 justify p-5">
            E naquela noite Robert mesmo frustrado decidiu por fim ir dormir, de fato sua mãe tinha razão, aqueles
            monstros
            assombraram sua mente durante algumas noites, mas ele fez tudo que pode para domar sua mente e enfim
            descansar.
            No dia seguinte Robert logo após tomar café da manhã com sua mãe, seguiu para as redondezas de sua casa
            situada
            em um vilarejo no reino de Cyrena, o reino do Sul. Um grande e próspero reino, reconhecido por seu
            enorme
            poder
            comercial. Robert em meio aquele enorme e razoavelmente alto gramado decidiu como sempre ficar
            sentado em
            seu
            lugar predileto, entre a entrada da floresta e a enorme pradaria, ele adorava ficar sentado olhando em
            direção a
            floresta. Entre os arbustos e moitas que observava, imaginava criaturas e monstros malignos relatados
            nos
            contos
            de sua mãe poderiam surgir de lá. Enquanto sentado desenhava figuras abstratas no chão de terra com um
            graveto,
            tentando sintetizar a aparência de uma das tais criaturas, quando então percebeu um arbusto claramente
            sendo
            utilizado como esconderijo de algum ser. Imerso em sua imaginação, Robert agora se encontrava ansioso e
            receoso... Tentava juntar coragem e bravura enquanto suava frio e tentava focar seus sentidos para
            identificar
            que tipo de ser poderia ser aquele que espreitava dentro da moita que estava apenas a alguns poucos
            metros
            de
            distância a dentro da floresta. Robert após alguns instantes tomando folego e coragem, inicia uma sútil
            e
            furtiva caminhada em direção daquilo que tomava  sua atenção, agora empunhando seu graveto, e manipulado
            por
            sua
            fértil imaginação, se sentia em uma caçada contra uma hostil fera. "um ogro talvez?" (Tolo... Uma moita
            jamais
            poderia abrigar uma criatura de tal porte).
            Enquanto lentamente se aproximava os movimentos dos arbustos se tornavam ainda mais constantes e claros,
            sem
            dúvidas havia algo ali. Quando Robert já estava próximo o suficiente para alcançar os arbustos caso
            estendesse
            sua mão, os movimentos então cessaram repentinamente.
             Robert então engoliu seco e hesitou. Parado ali e encarando aquele arbusto onde supostamente poderia
            abrigar
            uma terrível e violenta criatura. Instantes se passaram e o silêncio ensurdecedor pairava no ar...
            Robert então decide por avançar rapidamente e divide os arbustos a fim de sanar sua curiosidade. 
            Robert se sente novamente frustrado! ele simplesmente não encontrara nada lá... Pensando que talvez
            fosse
            fruto
            de sua imaginação, Robert arremessa seu graveto floresta a dentro, dá as costas e começa a sair dentre
            as
            poucas
            arvores que se situam a sua volta. Ainda no início da floresta, nos segundos seguintes Robert cessa seus
            movimentos. 
            O nervosismo novamente toma conta do seu corpo, os barulhos de galhos e pequenas plantas sendo
            partidas novamente retornam a sua proximidade. Em uma rápida observação, Robert repara que os arbustos
            começaram
            a apresentar claros movimentos constantes em sua direção, ao perceber que foi notado, Robert então entra
            em
            desespero, começando a correr para longe da floresta, porém sua velocidade nem se compara a daquela
            criatura,
            que em breves instantes o alcançaria, e ele tinha total ciência disso. Agora arrependido e em pânico,
            Robert
            corria em direção ao vilarejo enquanto olhava a aproximação da criatura através dos movimentos dos
            arbustos.
            Quando já havia pouquíssimas moitas e grama alta. Havia apenas um último arbusto capaz de esconder a
            identidade
            daquele ser...
            Tomado pelo desespero Robert então entra em choque e logo após conseguir sair dentre as arvores e da
            floresta,
            por descuido tropeça, enrolando seus pés entre um amontoado de vinhas. 
            Agora caído, e frente a frente com aquela que seria a última moita que abrigaria
            seu aterrorizante predador,
            pela segunda vez Robert engole seco enquanto tentava se desvincular das vinhas que se enrolaram em seus
            pés,
            a
            criatura então lança uma investida contra Robert que tinha como alvo seu peito, que ao o atingir foi
            capaz
            de
            lança-lo a pouco mais de 3 metros de distância. Após o ataque da besta a criança lançada rolava e
            capotava
            violentamente pela terra seca, obtendo diversas escoriações, e um grave ferimento causado pelo chifre do
            Javali.
        </p>
    </div>
    <br>
    <div class="p1 justify p-5">
        <p>
            Robert logo após ser lançado, se vê rolando pela terra levemente gramada, agora com sua visão turva,
            olhando
            em
            direção a criatura hostil que o feriu gravemente na região de seu abdômen. Devido ao pânico, e a visão
            agora
            turva e ainda prostrado, enxerga um Minotouro com seus chifres banhados pelo seu sangue, Robert então
            tenta
            repousar sua mão sobre o ferimento em sua barriga, ao focar sua visão para si, percebe a terra
            extremamente
            ensanguentada, se tratava de uma hemorragia.
            Robert com sua respiração pesada, desesperado e  ainda sim incapacitado, aos poucos sente sua
            consciência se
            esvaindo enquanto olha em direção ao seu agressor que emitia grunhidos como ameaças. Pouco antes de
            finalmente
            desmaiar, já com os seus olhos fechados, Robert escuta e sente um enorme estrondo alto e poderoso quase
            como
            um
            trovão, ou talvez como uma grande pancada de martelo de guerra bem próximo de si.
        </p>
    </div>
    <div class="container">
        <img class="pd-50" src="assets/img/tenor2.gif" alt="Fujiwara-san." height="225"> 
    </div>
</div>
<app-barra-de-navegacao></app-barra-de-navegacao>
<app-rodape></app-rodape>